<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Chrome-Firefox Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="internal.rejon.tealiumdemo.TestUtils.TestListener"/>
    </listeners>
    <test name="firefox-tests">
        <parameter name="browserType" value="firefox"/>
        <classes>
            <class name="internal.rejon.tealiumdemo.Tests.TC01_RegisterTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC02_LoginTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC03_HoverStyleTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC04_SaleProductStyle"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC05_ProductMenBlackSub100"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC06_ProductWomenSorting"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC07_ShoppingCartTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC08_EmptyShoppingCart"/>
        </classes>
    </test>
    <test name="chrome-tests">
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="internal.rejon.tealiumdemo.Tests.TC01_RegisterTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC02_LoginTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC03_HoverStyleTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC04_SaleProductStyle"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC05_ProductMenBlackSub100"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC06_ProductWomenSorting"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC07_ShoppingCartTest"/>
            <class name="internal.rejon.tealiumdemo.Tests.TC08_EmptyShoppingCart"/>
        </classes>
    </test>
</suite>